%h1 Listing posts_threads

%table
  %tr
    %th
    %th
    %th

  - @posts_threads.each do |posts_thread|
    %tr
      %td= link_to 'Show', posts_thread
      %td= link_to 'Edit', edit_posts_thread_path(posts_thread)
      %td= link_to 'Destroy', posts_thread, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Posts thread', new_posts_thread_path
