%h1 Listing poststhreads

%table
  %tr
    %th
    %th
    %th

  - @poststhreads.each do |poststhread|
    %tr
      %td= link_to 'Show', poststhread
      %td= link_to 'Edit', edit_poststhread_path(poststhread)
      %td= link_to 'Destroy', poststhread, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Poststhread', new_poststhread_path
