// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#board_list{
  list-style-type: none;

  li{
    float: left;
    padding-left: 2px;
    padding-right: 2px;
  }
}
