// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_form {
  background: #def;
  size: 40%;
  border: 1px;
}

#main_post {
  background: #ddf;
}

#post {
  background: #dfe;
}

#post_image {
}

#reply_image {
}
